@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  /* --background-start-rgb: 255, 255, 255; */
  /* --background-start-rgb: 238, 239, 245; */
  --background-end-rgb: #EEEFF5;
  --primary: #635dff;
  --primary-hover: #4a4794;
  --text: #484a57;
  animation-duration: 1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 26, 36;
    --background-end-rgb: ;
    --primary-hover: #1D4ED8;
    --primary: #3B82F6;
    --text: #FFF;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  background-image: linear-gradient(to right, transparent , rgb(var(--background-start-rgb)));
  filter: grayscale(100%);
  z-index: 99; /* Ensure the overlay is on top */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}